body {
  background: #f5f7fb;
}

.sidebar {
  height: 100vh;
  background: #1f2937;
  color: white;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 12px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #374151;
  color: white;
}

.card-box {
  border-radius: 12px;
  padding: 20px;
  color: white;
}
